<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!--CUSTOM CSS File-->
    <link href="/custom/css/common/index.css" rel="stylesheet">



    <!-- =======================================================
    * Template Name: BizPage - v2.0.0
    * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container-fluid">

        <div id="" class="pull-left">
            <h1><font style="font-family: 'Shadows Into Light Two', cursive; color:white;">MAN ALIVE!</font></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="/assets/img/logo.png" alt=""></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li class="menu-has-children"><a href="#">STORE</a>
                    <ul>
                        <li><a href="#">CD</a></li>
                        <li><a href="#">VINYL</a></li>
                        <li><a href="#">POSTER</a></li>
                        <li><a href="#">TICKET</a></li>
                        <li><a href="#">TICKET2</a></li>
                    </ul>
                </li>
                <li><a href="#portfolio">REVIEWS</a></li>
                <li><a href="#team">BEST NEW MUSIC</a></li>
                <li><a href="#team">VIDEO</a></li>
                <li class="menu-has-children"><a href="#">COMMUNITY</a>
                    <ul>
                        <li><a href="#">BOARD</a></li>
                        <li><a href="#">MARKET</a></li>
                        <li><a href="#">VOTE BEST</a></li>
                        <li><a href="#">TALK</a></li>
                    </ul>
                </li>
                <!--                <li><a href="#contact">Contact</a></li>-->

                {{#userName}}
                    <li><a>{{userName}}</a></li>
                    <li><a href="/logout" class='nav-small-word' style="font-size: 12px">LOGOUT</a></li>
                {{/userName}}
                {{^userName}}
                    <li><a href="#" id="Login-Btn" class='nav-small-word' style="font-size: 12px">LOGIN</a></li>
                {{/userName}}


                <li><a href="#" id="Login-Btn" class='nav-small-word' style="font-size: 12px">MYPAGE</a></li>
                <li><a href="#" id="Login-Btn" class='nav-small-word' style="font-size: 12px">JOIN</a></li>
                <li><a href="#" id="Login-Btn" class='nav-small-word' style="font-size: 12px">CART</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- End Header -->


