.main-container {
  text-align: center;
  border: 0px solid darkred;
}
.register-wrap{
  margin-top: 68px;
  margin-bottom: 30px;
  font-size: 50px;
  display: inline-block;
  width:380px;
  height: 600px;

}
.register-wrap h2{
  font-size: 24px;
}

.social-login-register a{
  margin-bottom: -80px;
}
.social-login-register .btn-google {
  color:black;
  display:inline-block;
  width: 100%;
  height:40px;
  text-align: center;
  padding-top: 1.8%;
  margin-bottom: -30px;
  font-size: 14px;
  border: 1px solid #bbc5d8;
  border-radius: 3px;
}
.social-login-register .btn-naver {
  color:white;
  display:inline-block;
  background-color: #00c73c;
  border-color: #00c73c;
  width: 100%;
  height:40px;
  text-align: center;
  padding-top: 2%;
  margin-bottom: -90px;
  font-size: 14px;
  border-radius: 3px;
  position: relative;
  top:-25px;
}

.social-login-register .social-icon {
  position: relative;
  left:-20%;
}
.social-login-register div .or-div {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 12px;
}
.social-login div .or-div label{
  font-size: 25px;
  color: #8D8D8D;
}
.register-wrap-input-div{
  line-height:110%;
}
.register-wrap-input-div input{
  font-size: 14px;
  width: 380px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding-left: 11px;
  margin-bottom: -50px;
}
.register-wrap-input-div input::placeholder{
  color: #999999;
}

#Register-Btn {
  border-radius: 4px;
  font-size: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px;
  margin-top: 38px;
  width: 100%;
  height:58px;
  text-align: center;
  background-color: black;
  color:white;
  border-radius: 3px;
}

#Social-Register-Btn {
  border-radius: 4px;
  font-size: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px;
  margin-top: 38px;
  width: 100%;
  height:58px;
  text-align: center;
  background-color: black;
  color:white;
  border-radius: 3px;
}

.social-email {
  color:#8D8D8D;
}