{{>layout/header}}
<main id="main">
    <div class="main-container">
        <h1>회원가입</h1>
        <a href="/main">main GO</a>
        <a href="/">main GO / </a>

        <a href="http://localhost:8888/">main GO / </a>

        <h1>{{userName}}</h1>
    </div>
    </div>
</main>

{{>layout/footer}}
        <div>